addressType.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.BikeOnTrack.pt/AddressType"
	targetNamespace="http://www.BikeOnTrack.pt/AddressType"
	elementFormDefault="unqualified">

	<xs:simpleType name="street">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="doorNum">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>

	<simpleType name="codPostal">
		<xs:restriction base="xs:integer">
			<xs:pattern value="([0-9]{4})"/>
		</xs:restriction>
	</simpleType>

	<simpleType name="freguesia">
		<xs:restriction base="xs:string"/>
	</simpleType>

	<simpleType name="concelho">
		<xs:restriction base="xs:string"/>
	</simpleType>

	<simpleType name="distrito">
		<xs:restriction base="xs:string"/>
	</simpleType>

	<simpleType name="pais">
		<xs:restriction base="xs:string"/>
	</simpleType>

</xs:schema>
