currencyRateXSD.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://www.BikeOnTrack.pt/CurrencyRates"
	targetNamespace="https://www.BikeOnTrack.pt/CurrencyRates"
	xmlns:c ="https://www.BikeOnTrack.pt/CommonTypes"
	elementFormDefault="qualified">

	<xs:element name="CurrencyRates">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="currencyRate" type="xs:integer"/>
				<xs:element name="currencyRateDate" type="xs:date"/>
				<xs:element name="fromCurrencyCode" type="xs:integer"/>
				<xs:element name="toCurrencyCode" type="xs:integer"/>
				<xs:element name="rateVal" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
